<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>Controller.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUser</servlet-name>
        <servlet-class>Controller.EliminarUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteController</servlet-name>
        <servlet-class>Controller.ClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCliente</servlet-name>
        <servlet-class>Controller.EliminarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MascotaController</servlet-name>
        <servlet-class>Controller.MascotaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MascotaC</servlet-name>
        <servlet-class>Controller.MascotaC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitaController</servlet-name>
        <servlet-class>Controller.CitaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCita</servlet-name>
        <servlet-class>Controller.EliminarCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarMascota</servlet-name>
        <servlet-class>Controller.ListarMascota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Controller.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthFilter</servlet-name>
        <servlet-class>Controller.AuthFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstadoCita</servlet-name>
        <servlet-class>Controller.EstadoCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MascotaPorClienteController</servlet-name>
        <servlet-class>Controller.MascotaPorClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtencionController</servlet-name>
        <servlet-class>Controller.AtencionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarMascota</servlet-name>
        <servlet-class>Controller.EliminarMascota</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUser</servlet-name>
        <url-pattern>/EliminarUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteController</servlet-name>
        <url-pattern>/ClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCliente</servlet-name>
        <url-pattern>/EliminarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MascotaController</servlet-name>
        <url-pattern>/MascotaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MascotaC</servlet-name>
        <url-pattern>/MascotaC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitaController</servlet-name>
        <url-pattern>/CitaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCita</servlet-name>
        <url-pattern>/EliminarCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarMascota</servlet-name>
        <url-pattern>/ListarMascota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthFilter</servlet-name>
        <url-pattern>/AuthFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstadoCita</servlet-name>
        <url-pattern>/EstadoCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MascotaPorClienteController</servlet-name>
        <url-pattern>/MascotaPorClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtencionController</servlet-name>
        <url-pattern>/AtencionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarMascota</servlet-name>
        <url-pattern>/EliminarMascota</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
